<!DOCTYPE html>                                                                                     
<html lang="en">                                                                                    
<head>                                                                                              
<meta charset="utf-8">                                                                              
<title>HTML Table Layout</title>                                                                    
</head>                                                                                             
<body style="margin:0px;">                                                                          
<table  align="center" frame="box" style="width:70%; font:12px Segoe UI,sans-serif;">               
<tr>                                                                                                
<td colspan="3" style="padding:0px 5px;background-color:#1d1d96b3;">                                
<h3>Statement for Account Number: ____________________</h3>                                         
</td>                                                                                               
</tr>                                                                                               
<tr>                                                                                                
<td colspan="3" style="padding:0px 5px;background-color:#FFAF33;">                                  
<p style="font-size:16px">Bank of XYZ</p>                                                           
<p>410 Terry Ave N</p>                                                                              
<p>Seattle WA 99999</p>                                                                             
</td>                                                                                               
</tr>                                                                                               
<tr>                                                                                                
<td colspan="3" style="padding:0px 5px;background-color:#f2f2f2;">                                  
